<div class="col-10 offset-1 about">
<h1>About Splurty</h1>


<p>
  Splurty was built by <a target="_blank" href="https://github.com/bryanjim">Bryan</a>. A web developer who is on a mission to learn the technical skills needed to thrive and volunteer in non-profit institutions.
</p>
<br />


<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'Bryan.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Bryan Jimenez</h2>
    <br />
    <p class ="bio">Bryan Jimenez is an aspiring Software Engineer and computer scientist. He worked for many years in customer service and he decided to take a leap of faith and follow his dream of becoming a freelance developer. He is currently learning to code with the Firehose project while pursuing a major in Computer Science at Santa Monica College.</p>
  </div>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
